# Import Dependencies

In [216]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

# Load Data

In [217]:
inbound = pd.read_csv("Inbound.csv")
outbound = pd.read_csv("Outbound.csv")
inventory = pd.read_csv("Inventory.csv")
material = pd.read_csv("MaterialMaster.csv")
OpCost = pd.read_csv("OperationCost.csv")

# Clean Data

In [218]:
print(inbound.isnull().sum())
print(outbound.isnull().sum())
print(inventory.isnull().sum())
print(material.isnull().sum())

INBOUND_DATE       0
PLANT_NAME         0
MATERIAL_NAME      0
NET_QUANTITY_MT    0
dtype: int64
OUTBOUND_DATE        0
PLANT_NAME           0
MODE_OF_TRANSPORT    0
MATERIAL_NAME        4
CUSTOMER_NUMBER      0
NET_QUANTITY_MT      0
dtype: int64
BALANCE_AS_OF_DATE    0
PLANT_NAME            0
MATERIAL_NAME         0
BATCH_NUMBER          1
UNRESRICTED_STOCK     0
STOCK_UNIT            0
STOCK_SELL_VALUE      0
CURRENCY              0
dtype: int64
MATERIAL_NAME                   0
POLYMER_TYPE                    0
SHELF_LIFE_IN_MONTH             0
DOWNGRADE_VALUE_LOST_PERCENT    0
dtype: int64

In [219]:
outbound[outbound['MATERIAL_NAME'].isna()]

,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,MATERIAL_NAME,CUSTOMER_NUMBER,NET_QUANTITY_MT
20357,2024/04/18,SINGAPORE-WAREHOUSE,Truck,NaN,CST-01280,22.000
22091,2024/07/08,SINGAPORE-WAREHOUSE,Marine,NaN,CST-01064,23.375
23124,2024/08/14,SINGAPORE-WAREHOUSE,Marine,NaN,CST-01392,23.375
24795,2024/10/14,SINGAPORE-WAREHOUSE,Truck,NaN,CST-01258,0.040

In [220]:
outbound_cleaned = outbound.dropna(subset=['MATERIAL_NAME'])
outbound_cleaned

,OUTBOUND_DATE,PLANT_NAME,MODE_OF_TRANSPORT,MATERIAL_NAME,CUSTOMER_NUMBER,NET_QUANTITY_MT
0,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0013,CST-00001,25.500
1,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0013,CST-00001,25.500
2,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0268,CST-00002,25.500
3,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0268,CST-00002,25.500
4,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0268,CST-00002,25.500
...,...,...,...,...,...,...
26989,2024/12/31,SINGAPORE-WAREHOUSE,Truck,MAT-0398,CST-01258,0.750
26990,2025/01/01,SINGAPORE-WAREHOUSE,Marine,MAT-0172,CST-01120,24.750
26991,2025/01/01,SINGAPORE-WAREHOUSE,Marine,MAT-0172,CST-01120,24.750
26992,2025/01/02,SINGAPORE-WAREHOUSE,Marine,MAT-0012,CST-01467,15.125
26993,2025/01/02,SINGAPORE-WAREHOUSE,Marine,MAT-0012,CST-01467,9.625

In [221]:
outbound_cleaned = outbound_cleaned.rename(columns={'NET_QUANTITY_MT': 'NET_QUANTITY_KT_OUTBOUND', 'OUTBOUND_DATE': 'DATE'})
outbound_cleaned["NET_QUANTITY_KT_OUTBOUND"] = outbound_cleaned["NET_QUANTITY_KT_OUTBOUND"]/1000
outbound_cleaned

,DATE,PLANT_NAME,MODE_OF_TRANSPORT,MATERIAL_NAME,CUSTOMER_NUMBER,NET_QUANTITY_KT_OUTBOUND
0,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0013,CST-00001,0.025500
1,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0013,CST-00001,0.025500
2,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0268,CST-00002,0.025500
3,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0268,CST-00002,0.025500
4,2024/01/02,CHINA-WAREHOUSE,Truck,MAT-0268,CST-00002,0.025500
...,...,...,...,...,...,...
26989,2024/12/31,SINGAPORE-WAREHOUSE,Truck,MAT-0398,CST-01258,0.000750
26990,2025/01/01,SINGAPORE-WAREHOUSE,Marine,MAT-0172,CST-01120,0.024750
26991,2025/01/01,SINGAPORE-WAREHOUSE,Marine,MAT-0172,CST-01120,0.024750
26992,2025/01/02,SINGAPORE-WAREHOUSE,Marine,MAT-0012,CST-01467,0.015125
26993,2025/01/02,SINGAPORE-WAREHOUSE,Marine,MAT-0012,CST-01467,0.009625

In [222]:
inbound_cleaned = inbound.rename(columns={'NET_QUANTITY_MT': 'NET_QUANTITY_KT_INBOUND', 'INBOUND_DATE': 'DATE'})
inbound_cleaned["NET_QUANTITY_KT_INBOUND"] = inbound_cleaned["NET_QUANTITY_KT_INBOUND"]/1000
inbound_cleaned

             DATE           PLANT_NAME MATERIAL_NAME  NET_QUANTITY_KT_INBOUND
0      2023/12/15  SINGAPORE-WAREHOUSE      MAT-0354                 0.023375
1      2023/12/22  SINGAPORE-WAREHOUSE      MAT-0413                 0.001375
2      2023/12/22  SINGAPORE-WAREHOUSE      MAT-0413                 0.023375
3      2023/12/22  SINGAPORE-WAREHOUSE      MAT-0413                 0.024750
4      2023/12/22  SINGAPORE-WAREHOUSE      MAT-0413                 0.019250
...           ...                  ...           ...                      ...
19588  2024/12/24      CHINA-WAREHOUSE      MAT-0118                 0.024750
19589  2024/12/24      CHINA-WAREHOUSE      MAT-0118                 0.024750
19590  2024/12/24      CHINA-WAREHOUSE      MAT-0118                 0.024750
19591  2024/12/24      CHINA-WAREHOUSE      MAT-0118                 0.024750
19592  2024/12/24      CHINA-WAREHOUSE      MAT-0118                 0.024750

[19593 rows x 4 columns]

In [223]:
# Drop duplicate rows based on specified columns
inventory_cleaned = inventory.drop_duplicates(
    subset=['BALANCE_AS_OF_DATE', 'PLANT_NAME', 'MATERIAL_NAME', 'BATCH_NUMBER', 'UNRESRICTED_STOCK','STOCK_SELL_VALUE'],
    keep='first'  # Keep the first occurrence
)

print(f"Dropped {len(inventory) - len(inventory_cleaned)} duplicate rows.")

Dropped 723 duplicate rows.

In [224]:
inventory_cleaned["UNRESRICTED_STOCK"] = inventory_cleaned["UNRESRICTED_STOCK"]/1000000

# Example exchange rates
exchange_rates = {
    'SGD': 25.45,
    'CNY': 4.52
}

# Apply conversion
inventory_cleaned['STOCK_SELL_VALUE_THB'] = inventory_cleaned.apply(
    lambda row: row['STOCK_SELL_VALUE'] * exchange_rates.get(row['CURRENCY'], 1),
    axis=1
)
inventory_cleaned = inventory_cleaned.drop(columns={"STOCK_UNIT"})
inventory_cleaned = inventory_cleaned.rename(columns={"UNRESRICTED_STOCK" : "UNRESRICTED_STOCK_KT"})
inventory_cleaned

C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\3117317320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_cleaned["UNRESRICTED_STOCK"] = inventory_cleaned["UNRESRICTED_STOCK"]/1000000
C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\3117317320.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_cleaned['STOCK_SELL_VALUE_THB'] = inventory_cleaned.apply(

,BALANCE_AS_OF_DATE,PLANT_NAME,MATERIAL_NAME,BATCH_NUMBER,UNRESRICTED_STOCK_KT,STOCK_SELL_VALUE,CURRENCY,STOCK_SELL_VALUE_THB
0,12/31/2023,CHINA-WAREHOUSE,MAT-0045,SCRAP,0.000164,211,CNY,9.537200e+02
1,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6024,0.000000,87666,CNY,3.962503e+05
2,12/31/2023,CHINA-WAREHOUSE,MAT-0193,5755,0.070720,414419,CNY,1.873174e+06
3,12/31/2023,CHINA-WAREHOUSE,MAT-0193,3142,0.012240,71726,CNY,3.242015e+05
4,12/31/2023,CHINA-WAREHOUSE,MAT-0193,6734,0.002720,15939,CNY,7.204428e+04
...,...,...,...,...,...,...,...,...
28323,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0172,M2299A,0.074250,20790,SGD,5.291055e+05
28324,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0172,M3493A,0.015125,4235,SGD,1.077808e+05
28325,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K1286,0.000325,617500,SGD,1.571538e+07
28326,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K8761,0.003000,5700000,SGD,1.450650e+08
28327,12/31/2024,SINGAPORE-WAREHOUSE,MAT-0191,K7324,0.000750,1425000,SGD,3.626625e+07

In [225]:
# Dates
dates = pd.date_range(start='2024-01-01', periods=12, freq='MS')

# Singapore
sg_cap = [53.5]*11 + [48]
sg_outbound = [8.708787, 10.951814, 9.36, 7.519, 10.737, 9.435, 11.384, 11.332, 16.7, 20.976814, 16.473975, 13.96795]
sg_inventory = [39.581, 36.763, 35.049, 35.663, 36.374, 40.5, 44.288, 41.769, 41.735, 41.849, 40.327, 15.37505]

# China
cn_cap = [58] + [70]*11
cn_outbound = [22.6, 21.7, 22, 23.1, 26.7, 21.9, 36.2, 22.9, 26.4, 28.6, 21.1, 21.8]
cn_inventory = [40, 37, 35, 36, 36, 41, 44, 42, 42, 42, 40, 15]

# --- Create DataFrames ---

df_sg = pd.DataFrame({
    'Warehouse': 'SINGAPORE-WAREHOUSE',
    'Date': dates,
    'Total_Cap (KT)': sg_cap,
    'Predicted_Outbound (KT)': sg_outbound,
    'Predicted_Inventory (KT)': sg_inventory
})

df_cn = pd.DataFrame({
    'Warehouse': 'CHINA-WAREHOUSE',
    'Date': dates,
    'Total_Cap (KT)': cn_cap,
    'Predicted_Outbound (KT)': cn_outbound,
    'Predicted_Inventory (KT)': cn_inventory
})

# --- Combine them ---
forecast_cleaned = pd.concat([df_sg, df_cn], ignore_index=True)

# Optional: sort
forecast_cleaned = forecast_cleaned.sort_values(by=['Warehouse', 'Date'])
# View
forecast_cleaned

,Warehouse,Date,Total_Cap (KT),Predicted_Outbound (KT),Predicted_Inventory (KT)
12,CHINA-WAREHOUSE,2024-01-01,58.0,22.600000,40.00000
13,CHINA-WAREHOUSE,2024-02-01,70.0,21.700000,37.00000
14,CHINA-WAREHOUSE,2024-03-01,70.0,22.000000,35.00000
15,CHINA-WAREHOUSE,2024-04-01,70.0,23.100000,36.00000
16,CHINA-WAREHOUSE,2024-05-01,70.0,26.700000,36.00000
17,CHINA-WAREHOUSE,2024-06-01,70.0,21.900000,41.00000
18,CHINA-WAREHOUSE,2024-07-01,70.0,36.200000,44.00000
19,CHINA-WAREHOUSE,2024-08-01,70.0,22.900000,42.00000
20,CHINA-WAREHOUSE,2024-09-01,70.0,26.400000,42.00000
21,CHINA-WAREHOUSE,2024-10-01,70.0,28.600000,42.00000
22,CHINA-WAREHOUSE,2024-11-01,70.0,21.100000,40.00000
23,CHINA-WAREHOUSE,2024-12-01,70.0,21.800000,15.00000
0,SINGAPORE-WAREHOUSE,2024-01-01,53.5,8.708787,39.58100
1,SINGAPORE-WAREHOUSE,2024-02-01,53.5,10.951814,36.76300
2,SINGAPORE-WAREHOUSE,2024-03-01,53.5,9.360000,35.04900
3,SINGAPORE-WAREHOUSE,2024-04-01,53.5,7.519000,35.66300
4,SINGAPORE-WAREHOUSE,2024-05-01,53.5,10.737000,36.37400
5,SINGAPORE-WAREHOUSE,2024-06-01,53.5,9.435000,40.50000
6,SINGAPORE-WAREHOUSE,2024-07-01,53.5,11.384000,44.28800
7,SINGAPORE-WAREHOUSE,2024-08-01,53.5,11.332000,41.76900
8,SINGAPORE-WAREHOUSE,2024-09-01,53.5,16.700000,41.73500
9,SINGAPORE-WAREHOUSE,2024-10-01,53.5,20.976814,41.84900
10,SINGAPORE-WAREHOUSE,2024-11-01,53.5,16.473975,40.32700
11,SINGAPORE-WAREHOUSE,2024-12-01,48.0,13.967950,15.37505

# Formating date time

In [226]:
inventory_cleaned['BALANCE_AS_OF_DATE'] = pd.to_datetime(inventory_cleaned['BALANCE_AS_OF_DATE']).dt.to_period('M').dt.to_timestamp()
inbound_cleaned['DATE'] = pd.to_datetime(inbound_cleaned['DATE']).dt.to_period('M').dt.to_timestamp()
outbound_cleaned['DATE'] = pd.to_datetime(outbound_cleaned['DATE']).dt.to_period('M').dt.to_timestamp()
forecast_cleaned['Date'] = pd.to_datetime(forecast_cleaned['Date']).dt.to_period('M').dt.to_timestamp()

inventory_cleaned = inventory_cleaned[inventory_cleaned['BALANCE_AS_OF_DATE'].dt.year == 2024]
inbound_cleaned = inbound_cleaned[inbound_cleaned['DATE'].dt.year == 2024]
outbound_cleaned = outbound_cleaned[outbound_cleaned['DATE'].dt.year == 2024]
forecast_cleaned = forecast_cleaned[forecast_cleaned['Date'].dt.year == 2024]

# Export Cleaned Files

In [227]:
inventory_cleaned.to_csv("inventory_cleaned.csv", index=False)
inbound_cleaned.to_csv("inbound_cleaned.csv", index=False)
outbound_cleaned.to_csv("outbound_cleaned.csv", index=False)
forecast_cleaned.to_csv("forecast_cleaned.csv", index=False)

# Data Manipulation

**Inventory usage % by month**

In [228]:
# Step 1: Convert to datetime and extract month-end
inventory_cleaned['MONTH'] = pd.to_datetime(inventory_cleaned['BALANCE_AS_OF_DATE']).dt.to_period('M').dt.to_timestamp('M')

# Step 2: Group by MONTH and PLANT_NAME
inventory_summary = inventory_cleaned.groupby(['MONTH', 'PLANT_NAME']).agg({
    'UNRESRICTED_STOCK_KT': 'sum',
    'STOCK_SELL_VALUE_THB': 'sum'
}).reset_index()

# Step 3: Round for readability
inventory_summary['UNRESRICTED_STOCK_KT'] = inventory_summary['UNRESRICTED_STOCK_KT'].round(2)
inventory_summary['STOCK_SELL_VALUE_THB'] = inventory_summary['STOCK_SELL_VALUE_THB'].round(2)

# Preview
inventory_summary

C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\4161868210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_cleaned['MONTH'] = pd.to_datetime(inventory_cleaned['BALANCE_AS_OF_DATE']).dt.to_period('M').dt.to_timestamp('M')

        MONTH           PLANT_NAME  UNRESRICTED_STOCK_KT  STOCK_SELL_VALUE_THB
0  2024-01-31      CHINA-WAREHOUSE                 39.02          1.236224e+09
1  2024-01-31  SINGAPORE-WAREHOUSE                 40.21          1.324058e+09
2  2024-02-29      CHINA-WAREHOUSE                 46.22          1.539803e+09
3  2024-02-29  SINGAPORE-WAREHOUSE                 36.47          1.188210e+09
4  2024-03-31      CHINA-WAREHOUSE                 48.48          1.487571e+09
5  2024-03-31  SINGAPORE-WAREHOUSE                 34.94          1.118164e+09
6  2024-04-30      CHINA-WAREHOUSE                 48.42          1.524760e+09
7  2024-04-30  SINGAPORE-WAREHOUSE                 34.62          1.122633e+09
8  2024-05-31      CHINA-WAREHOUSE                 52.83          1.616486e+09
9  2024-05-31  SINGAPORE-WAREHOUSE                 35.43          1.101125e+09
10 2024-06-30      CHINA-WAREHOUSE                 72.52          2.181411e+09
11 2024-06-30  SINGAPORE-WAREHOUSE                 40.01          1.207412e+09
12 2024-07-31      CHINA-WAREHOUSE                 76.14          7.251929e+09
13 2024-07-31  SINGAPORE-WAREHOUSE                 44.05          1.325671e+09
14 2024-08-31      CHINA-WAREHOUSE                 68.14          5.978518e+09
15 2024-08-31  SINGAPORE-WAREHOUSE                 41.43          1.346117e+09
16 2024-09-30      CHINA-WAREHOUSE                 66.70          8.547863e+09
17 2024-09-30  SINGAPORE-WAREHOUSE                 43.00          1.370963e+09
18 2024-10-31      CHINA-WAREHOUSE                 62.79          7.739463e+09
19 2024-10-31  SINGAPORE-WAREHOUSE                 42.75          1.316614e+09
20 2024-11-30      CHINA-WAREHOUSE                 54.76          1.409892e+09
21 2024-11-30  SINGAPORE-WAREHOUSE                 42.67          1.288916e+09
22 2024-12-31      CHINA-WAREHOUSE                 72.63          1.854362e+09
23 2024-12-31  SINGAPORE-WAREHOUSE                 57.29          1.646963e+09

In [229]:
inventory_summary['MONTH'] = pd.to_datetime(inventory_summary['MONTH']).dt.to_period('M').dt.to_timestamp()

# Step 3: Merge inventory with forecast on month + warehouse
merged = pd.merge(
    inventory_summary,
    forecast_cleaned[['Date', 'Warehouse', 'Total_Cap (KT)']],
    left_on=['MONTH', 'PLANT_NAME'],
    right_on=['Date', 'Warehouse'],
    how='inner'
)

# Step 4: Calculate inventory usage percentage
merged['Inventory Usage (%)'] = (merged['UNRESRICTED_STOCK_KT'] / merged['Total_Cap (KT)']) * 100
merged['Inventory Usage (%)'] = merged['Inventory Usage (%)'].round(2)

# Step 5: Select relevant columns and sort
result = merged[['MONTH', 'Warehouse', 'UNRESRICTED_STOCK_KT', 'Total_Cap (KT)', 'Inventory Usage (%)']]
result = result.sort_values(by=['Warehouse', 'MONTH'])
result.to_csv("Inv_Usage_%_by_Month.csv", index=False)
# Step 6: Preview
result

,MONTH,Warehouse,UNRESRICTED_STOCK_KT,Total_Cap (KT),Inventory Usage (%)
0,2024-01-01,CHINA-WAREHOUSE,39.02,58.0,67.28
2,2024-02-01,CHINA-WAREHOUSE,46.22,70.0,66.03
4,2024-03-01,CHINA-WAREHOUSE,48.48,70.0,69.26
6,2024-04-01,CHINA-WAREHOUSE,48.42,70.0,69.17
8,2024-05-01,CHINA-WAREHOUSE,52.83,70.0,75.47
10,2024-06-01,CHINA-WAREHOUSE,72.52,70.0,103.60
12,2024-07-01,CHINA-WAREHOUSE,76.14,70.0,108.77
14,2024-08-01,CHINA-WAREHOUSE,68.14,70.0,97.34
16,2024-09-01,CHINA-WAREHOUSE,66.70,70.0,95.29
18,2024-10-01,CHINA-WAREHOUSE,62.79,70.0,89.70
20,2024-11-01,CHINA-WAREHOUSE,54.76,70.0,78.23
22,2024-12-01,CHINA-WAREHOUSE,72.63,70.0,103.76
1,2024-01-01,SINGAPORE-WAREHOUSE,40.21,53.5,75.16
3,2024-02-01,SINGAPORE-WAREHOUSE,36.47,53.5,68.17
5,2024-03-01,SINGAPORE-WAREHOUSE,34.94,53.5,65.31
7,2024-04-01,SINGAPORE-WAREHOUSE,34.62,53.5,64.71
9,2024-05-01,SINGAPORE-WAREHOUSE,35.43,53.5,66.22
11,2024-06-01,SINGAPORE-WAREHOUSE,40.01,53.5,74.79
13,2024-07-01,SINGAPORE-WAREHOUSE,44.05,53.5,82.34
15,2024-08-01,SINGAPORE-WAREHOUSE,41.43,53.5,77.44
17,2024-09-01,SINGAPORE-WAREHOUSE,43.00,53.5,80.37
19,2024-10-01,SINGAPORE-WAREHOUSE,42.75,53.5,79.91
21,2024-11-01,SINGAPORE-WAREHOUSE,42.67,53.5,79.76
23,2024-12-01,SINGAPORE-WAREHOUSE,57.29,48.0,119.35

**Average Inventory Days of Supply**

In [230]:
# Step 3: Group by month and plant
monthly_outbound = outbound_cleaned.groupby(['DATE', 'PLANT_NAME'])['NET_QUANTITY_KT_OUTBOUND'].sum().reset_index()

# Step 4: Split by warehouse
monthly_outbound_sum_SG = monthly_outbound[monthly_outbound['PLANT_NAME'] == 'SINGAPORE-WAREHOUSE']
monthly_outbound_sum_CN = monthly_outbound[monthly_outbound['PLANT_NAME'] == 'CHINA-WAREHOUSE']
monthly_outbound_sum_combined = pd.concat([monthly_outbound_sum_SG, monthly_outbound_sum_CN], ignore_index=True)

monthly_outbound_sum_combined = monthly_outbound_sum_combined.sort_values(by=['DATE', 'PLANT_NAME'])

# View result
monthly_outbound_sum_combined

         DATE           PLANT_NAME  NET_QUANTITY_KT_OUTBOUND
12 2024-01-01      CHINA-WAREHOUSE                 25.687770
0  2024-01-01  SINGAPORE-WAREHOUSE                  8.030355
13 2024-02-01      CHINA-WAREHOUSE                 14.025650
1  2024-02-01  SINGAPORE-WAREHOUSE                 10.046795
14 2024-03-01      CHINA-WAREHOUSE                 20.438560
2  2024-03-01  SINGAPORE-WAREHOUSE                 11.107855
15 2024-04-01      CHINA-WAREHOUSE                 21.062600
3  2024-04-01  SINGAPORE-WAREHOUSE                  8.797185
16 2024-05-01      CHINA-WAREHOUSE                 22.762810
4  2024-05-01  SINGAPORE-WAREHOUSE                 10.501950
17 2024-06-01      CHINA-WAREHOUSE                 21.010190
5  2024-06-01  SINGAPORE-WAREHOUSE                 12.455665
18 2024-07-01      CHINA-WAREHOUSE                 21.824080
6  2024-07-01  SINGAPORE-WAREHOUSE                 12.305930
19 2024-08-01      CHINA-WAREHOUSE                 20.744910
7  2024-08-01  SINGAPORE-WAREHOUSE                 13.300645
20 2024-09-01      CHINA-WAREHOUSE                 26.569430
8  2024-09-01  SINGAPORE-WAREHOUSE                 12.277775
21 2024-10-01      CHINA-WAREHOUSE                 23.404130
9  2024-10-01  SINGAPORE-WAREHOUSE                 15.154065
22 2024-11-01      CHINA-WAREHOUSE                 22.240400
10 2024-11-01  SINGAPORE-WAREHOUSE                 14.412775
23 2024-12-01      CHINA-WAREHOUSE                 23.099150
11 2024-12-01  SINGAPORE-WAREHOUSE                 11.252095

In [231]:
# Step 1: Ensure datetime format
inventory_summary['MONTH'] = pd.to_datetime(inventory_summary['MONTH']).dt.to_period('M').dt.to_timestamp()
monthly_outbound_sum_combined['MONTH'] = pd.to_datetime(monthly_outbound_sum_combined['DATE']).dt.to_period('M').dt.to_timestamp()


# Step 3: Rename outbound column for clarity
monthly_outbound_sum_combined = monthly_outbound_sum_combined.rename(
    columns={'NET_QUANTITY_KT_OUTBOUND': 'Outbound (KT)'}
)

# Let's assume correct column is 'UNRESRICTED_STOCK_KT'
# Step 4: Merge
merged = pd.merge(
    inventory_summary,
    monthly_outbound_sum_combined[['MONTH', 'PLANT_NAME', 'Outbound (KT)']],
    on=['MONTH', 'PLANT_NAME'],
    how='inner'
)

# Step 5: Calculate
merged['Avg_Daily_Outbound'] = merged['Outbound (KT)'] / 30
merged['Days_of_Supply'] = (merged['UNRESRICTED_STOCK_KT'] / merged['Avg_Daily_Outbound']).round(2)

# Step 6: Final output
AvgInvDaySupply = merged[['MONTH', 'PLANT_NAME', 'UNRESRICTED_STOCK_KT', 'Outbound (KT)', 'Days_of_Supply']]

AvgInvDaySupply.to_csv("Avg_Inv_Day_Supply.csv", index=False)
AvgInvDaySupply

,MONTH,PLANT_NAME,UNRESRICTED_STOCK_KT,Outbound (KT),Days_of_Supply
0,2024-01-01,CHINA-WAREHOUSE,39.02,25.687770,45.57
1,2024-01-01,SINGAPORE-WAREHOUSE,40.21,8.030355,150.22
2,2024-02-01,CHINA-WAREHOUSE,46.22,14.025650,98.86
3,2024-02-01,SINGAPORE-WAREHOUSE,36.47,10.046795,108.90
4,2024-03-01,CHINA-WAREHOUSE,48.48,20.438560,71.16
5,2024-03-01,SINGAPORE-WAREHOUSE,34.94,11.107855,94.37
6,2024-04-01,CHINA-WAREHOUSE,48.42,21.062600,68.97
7,2024-04-01,SINGAPORE-WAREHOUSE,34.62,8.797185,118.06
8,2024-05-01,CHINA-WAREHOUSE,52.83,22.762810,69.63
9,2024-05-01,SINGAPORE-WAREHOUSE,35.43,10.501950,101.21
10,2024-06-01,CHINA-WAREHOUSE,72.52,21.010190,103.55
11,2024-06-01,SINGAPORE-WAREHOUSE,40.01,12.455665,96.37
12,2024-07-01,CHINA-WAREHOUSE,76.14,21.824080,104.66
13,2024-07-01,SINGAPORE-WAREHOUSE,44.05,12.305930,107.39
14,2024-08-01,CHINA-WAREHOUSE,68.14,20.744910,98.54
15,2024-08-01,SINGAPORE-WAREHOUSE,41.43,13.300645,93.45
16,2024-09-01,CHINA-WAREHOUSE,66.70,26.569430,75.31
17,2024-09-01,SINGAPORE-WAREHOUSE,43.00,12.277775,105.07
18,2024-10-01,CHINA-WAREHOUSE,62.79,23.404130,80.49
19,2024-10-01,SINGAPORE-WAREHOUSE,42.75,15.154065,84.63
20,2024-11-01,CHINA-WAREHOUSE,54.76,22.240400,73.87
21,2024-11-01,SINGAPORE-WAREHOUSE,42.67,14.412775,88.82
22,2024-12-01,CHINA-WAREHOUSE,72.63,23.099150,94.33
23,2024-12-01,SINGAPORE-WAREHOUSE,57.29,11.252095,152.74

**Inventory sales ratio**

In [232]:
# Step 1: Prepare dates (align to month start)
inventory_summary['MONTH'] = pd.to_datetime(inventory_summary['MONTH']).dt.to_period('M').dt.to_timestamp()
monthly_outbound_sum_combined['MONTH'] = pd.to_datetime(monthly_outbound_sum_combined['MONTH']).dt.to_period('M').dt.to_timestamp()

# Step 2: Rename for consistency
outbound = monthly_outbound_sum_combined.rename(columns={
    'Warehouse': 'PLANT_NAME',  # rename if necessary; check your actual column name
    'NET_QUANTITY_KT_OUTBOUND': 'Outbound_KT'
})

# Step 3: Calculate average inventory per warehouse and month
inventory_summary_sorted = inventory_summary.sort_values(['PLANT_NAME', 'MONTH'])
inventory_summary_sorted['Avg_Inventory_KT'] = inventory_summary_sorted.groupby('PLANT_NAME')['UNRESRICTED_STOCK_KT'].transform(lambda x: x.rolling(window=2).mean())

# Step 4: Merge average inventory with outbound
merged = pd.merge(
    inventory_summary_sorted,
    outbound[['MONTH', 'PLANT_NAME', 'Outbound (KT)']],
    on=['MONTH', 'PLANT_NAME'],
    how='inner'
)

# Step 5: Calculate Inventory Sales Ratio
merged['Inventory_Sales_Ratio'] = (merged['Avg_Inventory_KT'] / merged['Outbound (KT)']).round(2)

# Step 6: Show relevant columns
result = merged[['MONTH', 'PLANT_NAME', 'Avg_Inventory_KT', 'Outbound (KT)', 'Inventory_Sales_Ratio']]
result = result.dropna(subset=['Inventory_Sales_Ratio'])  # remove rows where ratio can't be calculated
result.to_csv("Inventory_Sales_Ratio.csv", index=False)
result

,MONTH,PLANT_NAME,Avg_Inventory_KT,Outbound (KT),Inventory_Sales_Ratio
1,2024-02-01,CHINA-WAREHOUSE,42.620,14.025650,3.04
2,2024-03-01,CHINA-WAREHOUSE,47.350,20.438560,2.32
3,2024-04-01,CHINA-WAREHOUSE,48.450,21.062600,2.30
4,2024-05-01,CHINA-WAREHOUSE,50.625,22.762810,2.22
5,2024-06-01,CHINA-WAREHOUSE,62.675,21.010190,2.98
6,2024-07-01,CHINA-WAREHOUSE,74.330,21.824080,3.41
7,2024-08-01,CHINA-WAREHOUSE,72.140,20.744910,3.48
8,2024-09-01,CHINA-WAREHOUSE,67.420,26.569430,2.54
9,2024-10-01,CHINA-WAREHOUSE,64.745,23.404130,2.77
10,2024-11-01,CHINA-WAREHOUSE,58.775,22.240400,2.64
11,2024-12-01,CHINA-WAREHOUSE,63.695,23.099150,2.76
13,2024-02-01,SINGAPORE-WAREHOUSE,38.340,10.046795,3.82
14,2024-03-01,SINGAPORE-WAREHOUSE,35.705,11.107855,3.21
15,2024-04-01,SINGAPORE-WAREHOUSE,34.780,8.797185,3.95
16,2024-05-01,SINGAPORE-WAREHOUSE,35.025,10.501950,3.34
17,2024-06-01,SINGAPORE-WAREHOUSE,37.720,12.455665,3.03
18,2024-07-01,SINGAPORE-WAREHOUSE,42.030,12.305930,3.42
19,2024-08-01,SINGAPORE-WAREHOUSE,42.740,13.300645,3.21
20,2024-09-01,SINGAPORE-WAREHOUSE,42.215,12.277775,3.44
21,2024-10-01,SINGAPORE-WAREHOUSE,42.875,15.154065,2.83
22,2024-11-01,SINGAPORE-WAREHOUSE,42.710,14.412775,2.96
23,2024-12-01,SINGAPORE-WAREHOUSE,49.980,11.252095,4.44

**Turnover Ratio**

In [233]:
import pandas as pd

# Step 1: Align dates to month start (period)
inventory_summary['MONTH'] = pd.to_datetime(inventory_summary['MONTH']).dt.to_period('M').dt.to_timestamp()
monthly_outbound_sum_combined['MONTH'] = pd.to_datetime(monthly_outbound_sum_combined['MONTH']).dt.to_period('M').dt.to_timestamp()

# Step 2: Rename outbound columns for clarity and consistency
outbound = monthly_outbound_sum_combined.rename(columns={
    'Warehouse': 'PLANT_NAME',  # keep as is or rename if needed
    'NET_QUANTITY_KT_OUTBOUND': 'Outbound_KT',
    'MONTH': 'MONTH'
})

# Step 3: Sort inventory data
inventory_summary = inventory_summary.sort_values(['PLANT_NAME', 'MONTH'])

# Step 4: Calculate Average Inventory per PLANT_NAME using rolling mean (last 2 months)
inventory_summary['Avg_Inventory_KT'] = inventory_summary.groupby('PLANT_NAME')['UNRESRICTED_STOCK_KT']\
    .transform(lambda x: x.rolling(window=2, min_periods=1).mean())

# Step 5: Merge inventory and outbound data on MONTH and PLANT_NAME
merged = pd.merge(
    inventory_summary,
    outbound[['MONTH', 'PLANT_NAME', 'Outbound (KT)']],
    on=['MONTH', 'PLANT_NAME'],
    how='inner'
)

# Step 6: Calculate Turnover Ratio (Outbound / Average Inventory)
merged['Turnover_Ratio'] = (merged['Outbound (KT)'] / merged['Avg_Inventory_KT']).round(2)

# Step 7: Select and display relevant columns
result = merged[['MONTH', 'PLANT_NAME', 'Avg_Inventory_KT', 'Outbound (KT)', 'Turnover_Ratio']].dropna()
result.to_csv("Turnover_Ratio.csv", index=False)
result

,MONTH,PLANT_NAME,Avg_Inventory_KT,Outbound (KT),Turnover_Ratio
0,2024-01-01,CHINA-WAREHOUSE,39.020,25.687770,0.66
1,2024-02-01,CHINA-WAREHOUSE,42.620,14.025650,0.33
2,2024-03-01,CHINA-WAREHOUSE,47.350,20.438560,0.43
3,2024-04-01,CHINA-WAREHOUSE,48.450,21.062600,0.43
4,2024-05-01,CHINA-WAREHOUSE,50.625,22.762810,0.45
5,2024-06-01,CHINA-WAREHOUSE,62.675,21.010190,0.34
6,2024-07-01,CHINA-WAREHOUSE,74.330,21.824080,0.29
7,2024-08-01,CHINA-WAREHOUSE,72.140,20.744910,0.29
8,2024-09-01,CHINA-WAREHOUSE,67.420,26.569430,0.39
9,2024-10-01,CHINA-WAREHOUSE,64.745,23.404130,0.36
10,2024-11-01,CHINA-WAREHOUSE,58.775,22.240400,0.38
11,2024-12-01,CHINA-WAREHOUSE,63.695,23.099150,0.36
12,2024-01-01,SINGAPORE-WAREHOUSE,40.210,8.030355,0.20
13,2024-02-01,SINGAPORE-WAREHOUSE,38.340,10.046795,0.26
14,2024-03-01,SINGAPORE-WAREHOUSE,35.705,11.107855,0.31
15,2024-04-01,SINGAPORE-WAREHOUSE,34.780,8.797185,0.25
16,2024-05-01,SINGAPORE-WAREHOUSE,35.025,10.501950,0.30
17,2024-06-01,SINGAPORE-WAREHOUSE,37.720,12.455665,0.33
18,2024-07-01,SINGAPORE-WAREHOUSE,42.030,12.305930,0.29
19,2024-08-01,SINGAPORE-WAREHOUSE,42.740,13.300645,0.31
20,2024-09-01,SINGAPORE-WAREHOUSE,42.215,12.277775,0.29
21,2024-10-01,SINGAPORE-WAREHOUSE,42.875,15.154065,0.35
22,2024-11-01,SINGAPORE-WAREHOUSE,42.710,14.412775,0.34
23,2024-12-01,SINGAPORE-WAREHOUSE,49.980,11.252095,0.23

**Top Customer by Warehouse**

In [234]:
# Group by warehouse (PLANT_NAME) and customer
customer_orders = (
    outbound_cleaned
    .groupby(['PLANT_NAME', 'CUSTOMER_NUMBER'])['NET_QUANTITY_KT_OUTBOUND']
    .sum()
    .reset_index()
    .sort_values(by=['PLANT_NAME', 'NET_QUANTITY_KT_OUTBOUND'], ascending=[True, False])
)

# Optional: rename columns for clarity
customer_orders = customer_orders.rename(columns={
    'PLANT_NAME': 'Warehouse',
    'NET_QUANTITY_KT_OUTBOUND': 'Total_Ordered_KT'
})

# Show result
customer_orders.to_csv("Top_Customer_by_Warehouse.csv", index=False)
customer_orders

                Warehouse CUSTOMER_NUMBER  Total_Ordered_KT
48        CHINA-WAREHOUSE       CST-00049          10.37283
486       CHINA-WAREHOUSE       CST-00487           7.37994
71        CHINA-WAREHOUSE       CST-00072           6.98099
362       CHINA-WAREHOUSE       CST-00363           6.59346
160       CHINA-WAREHOUSE       CST-00161           5.56677
...                   ...             ...               ...
1469  SINGAPORE-WAREHOUSE       CST-01440           0.00030
1155  SINGAPORE-WAREHOUSE       CST-01126           0.00020
1405  SINGAPORE-WAREHOUSE       CST-01376           0.00020
1550  SINGAPORE-WAREHOUSE       CST-01521           0.00020
1555  SINGAPORE-WAREHOUSE       CST-01526           0.00010

[1559 rows x 3 columns]

**Monthly Net value**

In [235]:
# Step 1: Convert DATE columns to month period start for alignment
inbound_cleaned['DATE'] = pd.to_datetime(inbound_cleaned['DATE']).dt.to_period('M').dt.to_timestamp()
forecast_cleaned['Date'] = pd.to_datetime(forecast_cleaned['Date']).dt.to_period('M').dt.to_timestamp()

# Step 2: Aggregate inbound by month and warehouse (PLANT_NAME matches Warehouse)
inbound_monthly = inbound_cleaned.groupby(['DATE', 'PLANT_NAME'], as_index=False)['NET_QUANTITY_KT_INBOUND'].sum()

# Step 3: Rename for merge clarity
inbound_monthly.rename(columns={'DATE': 'MONTH', 'PLANT_NAME': 'Warehouse'}, inplace=True)

# Step 4: Prepare forecast dataframe columns
forecast_monthly = forecast_cleaned[['Date', 'Warehouse', 'Predicted_Outbound (KT)']].copy()
forecast_monthly.rename(columns={'Date': 'MONTH'}, inplace=True)

# Step 5: Merge inbound and forecast on month and warehouse
merged = pd.merge(
    inbound_monthly,
    forecast_monthly,
    on=['MONTH', 'Warehouse'],
    how='inner'  # or 'left' if you want all inbound even if no forecast
)

# Step 6: Calculate net value = inbound - forecast outbound
merged['Net_Movement_KT'] = merged['NET_QUANTITY_KT_INBOUND'] - merged['Predicted_Outbound (KT)']

# Step 7: Optional: round or sort
merged['Net_Movement_KT'] = merged['Net_Movement_KT'].round(2)
merged = merged.sort_values(by=['Warehouse', 'MONTH'])

# Show result
result = merged[['MONTH', 'Warehouse', 'NET_QUANTITY_KT_INBOUND', 'Predicted_Outbound (KT)', 'Net_Movement_KT']]
result.to_csv("Monthly_Net_val.csv", index=False)
result

C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\3046320823.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inbound_cleaned['DATE'] = pd.to_datetime(inbound_cleaned['DATE']).dt.to_period('M').dt.to_timestamp()

,MONTH,Warehouse,NET_QUANTITY_KT_INBOUND,Predicted_Outbound (KT),Net_Movement_KT
0,2024-01-01,CHINA-WAREHOUSE,25.025125,22.600000,2.43
2,2024-02-01,CHINA-WAREHOUSE,16.469113,21.700000,-5.23
4,2024-03-01,CHINA-WAREHOUSE,33.598812,22.000000,11.60
6,2024-04-01,CHINA-WAREHOUSE,23.836500,23.100000,0.74
8,2024-05-01,CHINA-WAREHOUSE,29.770405,26.700000,3.07
10,2024-06-01,CHINA-WAREHOUSE,20.254925,21.900000,-1.65
12,2024-07-01,CHINA-WAREHOUSE,23.471777,36.200000,-12.73
14,2024-08-01,CHINA-WAREHOUSE,23.469684,22.900000,0.57
16,2024-09-01,CHINA-WAREHOUSE,19.945650,26.400000,-6.45
18,2024-10-01,CHINA-WAREHOUSE,15.933650,28.600000,-12.67
20,2024-11-01,CHINA-WAREHOUSE,15.277488,21.100000,-5.82
22,2024-12-01,CHINA-WAREHOUSE,12.629075,21.800000,-9.17
1,2024-01-01,SINGAPORE-WAREHOUSE,6.867000,8.708787,-1.84
3,2024-02-01,SINGAPORE-WAREHOUSE,7.128995,10.951814,-3.82
5,2024-03-01,SINGAPORE-WAREHOUSE,15.858001,9.360000,6.50
7,2024-04-01,SINGAPORE-WAREHOUSE,14.027350,7.519000,6.51
9,2024-05-01,SINGAPORE-WAREHOUSE,12.248625,10.737000,1.51
11,2024-06-01,SINGAPORE-WAREHOUSE,6.233500,9.435000,-3.20
13,2024-07-01,SINGAPORE-WAREHOUSE,8.659000,11.384000,-2.72
15,2024-08-01,SINGAPORE-WAREHOUSE,15.971750,11.332000,4.64
17,2024-09-01,SINGAPORE-WAREHOUSE,10.510625,16.700000,-6.19
19,2024-10-01,SINGAPORE-WAREHOUSE,9.600750,20.976814,-11.38
21,2024-11-01,SINGAPORE-WAREHOUSE,4.344750,16.473975,-12.13
23,2024-12-01,SINGAPORE-WAREHOUSE,0.540000,13.967950,-13.43

**Expire Materials and Batch Analysis**

In [236]:
# คลีน Inventory -> Inventory_cleaned

# เรทแปลงเงิน ณ 3/7/2025
currency_to_thb = {
    "THB": 1,
    "USD": 32.47,
    "CNY": 4.53,
    "SGD": 25.49

}

def clean_inventory(file_path, output_path):
    df = pd.read_csv(file_path)
    print(f"ก่อนลบซ้ำ Inventory: {len(df)} แถว")

    # ลบแถวซ้ำ ตาม subset
    subset_cols = ['BALANCE_AS_OF_DATE', 'PLANT_NAME', 'MATERIAL_NAME', 'BATCH_NUMBER', 'UNRESRICTED_STOCK', 'STOCK_SELL_VALUE']
    df_cleaned = df.drop_duplicates(subset=subset_cols, keep='first')
    print(f"หลังลบซ้ำ: {len(df_cleaned)} แถว")

    # แปลงวันที่
    df_cleaned['BALANCE_AS_OF_DATE'] = pd.to_datetime(df_cleaned['BALANCE_AS_OF_DATE'], dayfirst=True, errors='coerce')
    df_cleaned['MONTH'] = df_cleaned['BALANCE_AS_OF_DATE'].dt.to_period('M').astype(str)

    # แปลง CURRENCY เป็น THB
    df_cleaned['CURRENCY'] = df_cleaned['CURRENCY'].str.upper()
    df_cleaned['EXCHANGE_RATE'] = df_cleaned['CURRENCY'].map(currency_to_thb)
    df_cleaned['SELL_VALUE_THB'] = df_cleaned['STOCK_SELL_VALUE'] * df_cleaned['EXCHANGE_RATE']

    # แจ้งหน่วย STOCK_UNIT
    print(f"หน่วย STOCK_UNIT ที่เจอ: {df_cleaned['STOCK_UNIT'].unique()} (หน่วยเป็น kg)")

    # สรุป UNRESRICTED_STOCK และ SELL_VALUE_THB ต่อเดือน แยกตาม PLANT_NAME และ MATERIAL_NAME
    monthly_summary = df_cleaned.groupby(['PLANT_NAME', 'MATERIAL_NAME', 'MONTH']).agg(
        total_stock_kg = ('UNRESRICTED_STOCK', 'sum'),
        total_sell_value_thb = ('SELL_VALUE_THB', 'sum')
    ).reset_index()

    # บันทึกไฟล์ cleaned inventory
    df_cleaned.to_csv(output_path, index=False)
    print(f"บันทึกไฟล์ inventory คลีนแล้วที่: {output_path}")

    return df_cleaned, monthly_summary


inventory_file = "Inventory.csv"
inventory_cleaned_file = "Inventory_cleaned_V2.csv"

inventory_cleaned_df, inventory_monthly_summary = clean_inventory(inventory_file, inventory_cleaned_file)

C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\1251648685.py:22: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_cleaned['BALANCE_AS_OF_DATE'] = pd.to_datetime(df_cleaned['BALANCE_AS_OF_DATE'], dayfirst=True, errors='coerce')
C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\1251648685.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['BALANCE_AS_OF_DATE'] = pd.to_datetime(df_cleaned['BALANCE_AS_OF_DATE'], dayfirst=True, errors='coerce')
C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\1251648685.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['MONTH'] = df_cleaned['BALANCE_AS_OF_DATE'].dt.to_period('M').astype(str)
C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\1251648685.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['CURRENCY'] = df_cleaned['CURRENCY'].str.upper()
C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\1251648685.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['EXCHANGE_RATE'] = df_cleaned['CURRENCY'].map(currency_to_thb)
C:\Users\Kaopan Kantinan\AppData\Local\Temp\ipykernel_1588\1251648685.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['SELL_VALUE_THB'] = df_cleaned['STOCK_SELL_VALUE'] * df_cleaned['EXCHANGE_RATE']

ก่อนลบซ้ำ Inventory: 28328 แถว
หลังลบซ้ำ: 27605 แถว
หน่วย STOCK_UNIT ที่เจอ: ['KG'] (หน่วยเป็น kg)
บันทึกไฟล์ inventory คลีนแล้วที่: Inventory_cleaned_V2.csv

In [237]:
# โหลดไฟล์
inventory = pd.read_csv("Inventory_cleaned_V2.csv")
master = pd.read_csv("MaterialMaster.csv")

# แปลงวัน
inventory["BALANCE_AS_OF_DATE"] = pd.to_datetime(inventory["BALANCE_AS_OF_DATE"], errors="coerce")
inventory["MONTH"] = inventory["BALANCE_AS_OF_DATE"].dt.to_period("M").astype(str)

# 👉 รวมเดือนแรกที่ปรากฏของแต่ละ BATCH
first_appear = (
    inventory.groupby(["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"])["BALANCE_AS_OF_DATE"]
    .min()
    .reset_index()
    .rename(columns={"BALANCE_AS_OF_DATE": "FIRST_APPEAR_DATE"})
)
first_appear["FIRST_MONTH_APPEAR"] = first_appear["FIRST_APPEAR_DATE"].dt.to_period("M").astype(str)

# คำนวณจำนวนเดือนอยู่ในคลัง
months_in_wh = (
    inventory.groupby(["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"])["MONTH"]
    .nunique()
    .reset_index()
    .rename(columns={"MONTH": "MONTHS_IN_WAREHOUSE"})
)

# คำนวณ stock ของแต่ละ batch รวม (เป็น ton)
batch_stock = (
    inventory.groupby(["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"])["UNRESRICTED_STOCK"]
    .sum()
    .reset_index()
)
batch_stock["TOTAL_UNRESRICTED_STOCK_TON"] = (batch_stock["UNRESRICTED_STOCK"] / 1000).round(3)
batch_stock.drop(columns=["UNRESRICTED_STOCK"], inplace=True)

# รวมทั้ง 3 ส่วนเข้าด้วยกัน
merged = batch_stock.merge(months_in_wh, on=["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"])
merged = merged.merge(first_appear, on=["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"])

# เติม SHELF_LIFE และคำนวณหมดอายุ
merged = merged.merge(master[["MATERIAL_NAME", "SHELF_LIFE_IN_MONTH"]], on="MATERIAL_NAME", how="left")
merged["EXPIRED"] = merged["MONTHS_IN_WAREHOUSE"] > merged["SHELF_LIFE_IN_MONTH"]
merged["EXPIRE_MONTH"] = (
    merged["FIRST_APPEAR_DATE"] + pd.to_timedelta(merged["SHELF_LIFE_IN_MONTH"] * 30, unit='D')
).dt.to_period("M").astype(str)

# คำนวณ stock รวมของแต่ละ MATERIAL_NAME (ใช้เทียบเป็นสัดส่วน %)
material_total = (
    merged.groupby("MATERIAL_NAME")["TOTAL_UNRESRICTED_STOCK_TON"]
    .sum()
    .reset_index()
    .rename(columns={"TOTAL_UNRESRICTED_STOCK_TON": "TOTAL_STOCK_PER_MATERIAL_TON"})
)

# รวมกับข้อมูลหลัก
result = merged.merge(material_total, on="MATERIAL_NAME", how="left")

# คำนวณ % share
result["PERCENTAGE_SHARE"] = (
    (result["TOTAL_UNRESRICTED_STOCK_TON"] / result["TOTAL_STOCK_PER_MATERIAL_TON"]) * 100
).round(2)

# จัดเรียง columns
final_cols = [
    "MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME", "TOTAL_UNRESRICTED_STOCK_TON",
    "TOTAL_STOCK_PER_MATERIAL_TON", "PERCENTAGE_SHARE", "MONTHS_IN_WAREHOUSE",
    "SHELF_LIFE_IN_MONTH", "EXPIRED", "FIRST_MONTH_APPEAR", "EXPIRE_MONTH"
]
final = result[final_cols]

# คำนวณเดือนสุดท้ายที่สินค้าแต่ละ batch ปรากฏ
last_seen = (
    inventory.groupby(["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"])["BALANCE_AS_OF_DATE"]
    .max()
    .reset_index()
    .rename(columns={"BALANCE_AS_OF_DATE": "LAST_SEEN_DATE"})
)
last_seen["LAST_MONTH_SEEN"] = last_seen["LAST_SEEN_DATE"].dt.to_period("M").astype(str)

# หาเดือนล่าสุดใน inventory
latest_month = inventory["BALANCE_AS_OF_DATE"].max().to_period("M").strftime("%Y-%m")

# รวมเข้ากับ final
final = final.merge(last_seen, on=["MATERIAL_NAME", "BATCH_NUMBER", "PLANT_NAME"], how="left")

# ตรวจสอบว่าสินค้ายังอยู่ไหม
final["INVENTORY_STATUS"] = final["LAST_MONTH_SEEN"].apply(
    lambda x: "ยังอยู่" if x == latest_month else f"ออกเมื่อ {x}"
)

# จัดเรียงใหม่
final = final[
    final_cols + ["LAST_MONTH_SEEN", "INVENTORY_STATUS"]
]
final['EXPIRE_MONTH'] = pd.to_datetime(final['EXPIRE_MONTH'], format='%Y-%m')

final['MONTH_NOTICE'] = final['EXPIRE_MONTH'] - pd.DateOffset(months=3)

# Format back to 'YYYY-MM' string if needed
final['MONTH_NOTICE'] = final['MONTH_NOTICE'].dt.strftime('%Y-%m')
# บันทึกไฟล์ใหม่
final.to_csv("batch_analysis_with_expiry_and_status.csv", index=False, encoding="utf-8-sig")
print("บันทึกไฟล์: batch_analysis_with_expiry_and_status.csv")

บันทึกไฟล์: batch_analysis_with_expiry_and_status.csv

In [238]:
expire_notice = pd.read_csv("batch_analysis_with_expiry_and_status.csv")
expire_notice = expire_notice[expire_notice["INVENTORY_STATUS"] == "ยังอยู่"]
expire_notice.to_csv("expire_notice.csv", index=False)